In [2]:
import pandas as pd
import sqlite3 as sq3
import datetime
import math

In [3]:
conn = sq3.connect('/home/usr1/bghaem/mu/proj/dlrm/support/data/avazu.db')
c = conn.cursor()
try:
    c.execute('''
                CREATE TABLE IF NOT EXISTS data
                (id integer,
                click integer,
                hour integer,
                C1 integer,
                banner_pos integer,
                site_id integer,
                site_domain integer,
                site_category integer,
                app_id integer,
                app_domain integer,
                app_category integer,
                device_id integer,
                device_ip integer,
                device_model integer,
                device_type integer,
                device_conn_type integer,
                C14 integer,
                C15 integer,
                C16 integer,
                C17 integer,
                C18 integer,
                C19 integer,
                C20 integer,
                C21 integer)
        ''')
    c.execute('''
                CREATE TABLE IF NOT EXISTS data_cleaned
                (id integer,
                click integer,
                hour integer,
                C1 integer,
                banner_pos integer,
                site_id integer,
                site_domain integer,
                site_category integer,
                app_id integer,
                app_domain integer,
                app_category integer,
                device_id integer,
                device_ip integer,
                device_model integer,
                device_type integer,
                device_conn_type integer,
                C14 integer,
                C15 integer,
                C16 integer,
                C17 integer,
                C18 integer,
                C19 integer,
                C20 integer,
                C21 integer)
        ''')
    c.execute('''
                CREATE TABLE IF NOT EXISTS col_counts
                (cat text,
                count integer)
            ''')
    conn.commit()
except sq3.OperationalError as e:
    print("Create failed", e)

In [97]:
setup = True #safety to avoid overwriting database all the time
if (not setup):
    with open('/home/usr1/bghaem/mu/proj/dlrm/support/data/avazu_train.csv', 'r') as f:

        print("resetting data table...")

        c.execute('''DELETE FROM data''')
        conn.commit()

        labels = f.readline().split(',')
        table_types = [lab + " integer" for lab in labels]
        print(table_types)

        print(f.readline())

        buffer = []
        counter = 1
        for line in f:
            items = line.split(',')
            conv_items = []
            for i, v in enumerate(items):
                if i >=0 and i < 5:
                    conv_items.append(v)
                elif i > 13:
                    conv_items.append(int(v))
                else:
                    conv_items.append(v)

            if len(conv_items) == 23:
                conv_items.insert(1,"1")

            if (len(buffer) < 100000):
                buffer.append(conv_items)
            else:
                print("loaded " + str(counter * 100000))
                counter = counter + 1
                c.executemany('INSERT INTO data VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)', buffer)
                buffer = []
        
        conn.commit()

resetting data table...
['id integer', 'click integer', 'hour integer', 'C1 integer', 'banner_pos integer', 'site_id integer', 'site_domain integer', 'site_category integer', 'app_id integer', 'app_domain integer', 'app_category integer', 'device_id integer', 'device_ip integer', 'device_model integer', 'device_type integer', 'device_conn_type integer', 'C14 integer', 'C15 integer', 'C16 integer', 'C17 integer', 'C18 integer', 'C19 integer', 'C20 integer', 'C21\n integer']
1000009418151094273,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,ddd2926e,44956a24,1,2,15706,320,50,1722,0,35,-1,79

loaded 100000
loaded 200000
loaded 300000
loaded 400000
loaded 500000
loaded 600000
loaded 700000
loaded 800000
loaded 900000
loaded 1000000
loaded 1100000
loaded 1200000
loaded 1300000
loaded 1400000
loaded 1500000
loaded 1600000
loaded 1700000
loaded 1800000
loaded 1900000
loaded 2000000
loaded 2100000
loaded 2200000
loaded 2300000
loaded 2400000
loaded 2500000
loaded 2600000
loaded 2700000
loaded 2800000
loaded 2900000
loaded 3000000
loaded 3100000
loaded 3200000
loaded 3300000
loaded 3400000
loaded 3500000
loaded 3600000
loaded 3700000
loaded 3800000
loaded 3900000
loaded 4000000
loaded 4100000
loaded 4200000
loaded 4300000
loaded 4400000
loaded 4500000
loaded 4600000
loaded 4700000
loaded 4800000
loaded 4900000
loaded 5000000
loaded 5100000
loaded 5200000
loaded 5300000
loaded 5400000
loaded 5500000
loaded 5600000
loaded 5700000
loaded 5800000
loaded 5900000
loaded 6000000
loaded 6100000
loaded 6200000
loaded 6300000
loaded 6400000
loaded 6500000
loaded 6600000
loaded 6700000
loaded 6800000
loaded 6900000
loaded 7000000
loaded 7100000
loaded 7200000
loaded 7300000
loaded 7400000
loaded 7500000
loaded 7600000
loaded 7700000
loaded 7800000
loaded 7900000
loaded 8000000
loaded 8100000
loaded 8200000
loaded 8300000
loaded 8400000
loaded 8500000
loaded 8600000
loaded 8700000
loaded 8800000
loaded 8900000
loaded 9000000
loaded 9100000
loaded 9200000
loaded 9300000
loaded 9400000
loaded 9500000
loaded 9600000
loaded 9700000
loaded 9800000
loaded 9900000
loaded 10000000
loaded 10100000
loaded 10200000
loaded 10300000
loaded 10400000
loaded 10500000
loaded 10600000
loaded 10700000
loaded 10800000
loaded 10900000
loaded 11000000
loaded 11100000
loaded 11200000
loaded 11300000
loaded 11400000
loaded 11500000
loaded 11600000
loaded 11700000
loaded 11800000
loaded 11900000
loaded 12000000
loaded 12100000
loaded 12200000
loaded 12300000
loaded 12400000
loaded 12500000
loaded 12600000
loaded 12700000
loaded 12800000
loaded 12900000
loaded 13000000
loaded 13100000
loaded 13200000
loaded 13300000
loaded 13400000
loaded 13500000
loaded 13600000
loaded 13700000
loaded 13800000
loaded 13900000
loaded 14000000
loaded 14100000
loaded 14200000
loaded 14300000
loaded 14400000
loaded 14500000
loaded 14600000
loaded 14700000
loaded 14800000
loaded 14900000
loaded 15000000
loaded 15100000
loaded 15200000
loaded 15300000
loaded 15400000
loaded 15500000
loaded 15600000
loaded 15700000
loaded 15800000
loaded 15900000
loaded 16000000
loaded 16100000
loaded 16200000
loaded 16300000
loaded 16400000
loaded 16500000
loaded 16600000
loaded 16700000
loaded 16800000
loaded 16900000
loaded 17000000
loaded 17100000
loaded 17200000
loaded 17300000
loaded 17400000
loaded 17500000
loaded 17600000
loaded 17700000
loaded 17800000
loaded 17900000
loaded 18000000
loaded 18100000
loaded 18200000
loaded 18300000
loaded 18400000
loaded 18500000
loaded 18600000
loaded 18700000
loaded 18800000
loaded 18900000
loaded 19000000
loaded 19100000
loaded 19200000
loaded 19300000
loaded 19400000
loaded 19500000
loaded 19600000
loaded 19700000
loaded 19800000
loaded 19900000
loaded 20000000
loaded 20100000
loaded 20200000
loaded 20300000
loaded 20400000
loaded 20500000
loaded 20600000
loaded 20700000
loaded 20800000
loaded 20900000
loaded 21000000
loaded 21100000
loaded 21200000
loaded 21300000
loaded 21400000
loaded 21500000
loaded 21600000
loaded 21700000
loaded 21800000
loaded 21900000
loaded 22000000
loaded 22100000
loaded 22200000
loaded 22300000
loaded 22400000
loaded 22500000
loaded 22600000
loaded 22700000
loaded 22800000
loaded 22900000
loaded 23000000
loaded 23100000
loaded 23200000
loaded 23300000
loaded 23400000
loaded 23500000
loaded 23600000
loaded 23700000
loaded 23800000
loaded 23900000
loaded 24000000
loaded 24100000
loaded 24200000
loaded 24300000
loaded 24400000
loaded 24500000
loaded 24600000
loaded 24700000
loaded 24800000
loaded 24900000
loaded 25000000
loaded 25100000
loaded 25200000
loaded 25300000
loaded 25400000
loaded 25500000
loaded 25600000
loaded 25700000
loaded 25800000
loaded 25900000
loaded 26000000
loaded 26100000
loaded 26200000
loaded 26300000
loaded 26400000
loaded 26500000
loaded 26600000
loaded 26700000
loaded 26800000
loaded 26900000
loaded 27000000
loaded 27100000
loaded 27200000
loaded 27300000
loaded 27400000
loaded 27500000
loaded 27600000
loaded 27700000
loaded 27800000
loaded 27900000
loaded 28000000
loaded 28100000
loaded 28200000
loaded 28300000
loaded 28400000
loaded 28500000
loaded 28600000
loaded 28700000
loaded 28800000
loaded 28900000
loaded 29000000
loaded 29100000
loaded 29200000
loaded 29300000
loaded 29400000
loaded 29500000
loaded 29600000
loaded 29700000
loaded 29800000
loaded 29900000
loaded 30000000
loaded 30100000
loaded 30200000
loaded 30300000
loaded 30400000
loaded 30500000
loaded 30600000
loaded 30700000
loaded 30800000
loaded 30900000
loaded 31000000
loaded 31100000
loaded 31200000
loaded 31300000
loaded 31400000
loaded 31500000
loaded 31600000
loaded 31700000
loaded 31800000
loaded 31900000
loaded 32000000
loaded 32100000
loaded 32200000
loaded 32300000
loaded 32400000
loaded 32500000
loaded 32600000
loaded 32700000
loaded 32800000
loaded 32900000
loaded 33000000
loaded 33100000
loaded 33200000
loaded 33300000
loaded 33400000
loaded 33500000
loaded 33600000
loaded 33700000
loaded 33800000
loaded 33900000
loaded 34000000
loaded 34100000
loaded 34200000
loaded 34300000
loaded 34400000
loaded 34500000
loaded 34600000
loaded 34700000
loaded 34800000
loaded 34900000
loaded 35000000
loaded 35100000
loaded 35200000
loaded 35300000
loaded 35400000
loaded 35500000
loaded 35600000
loaded 35700000
loaded 35800000
loaded 35900000
loaded 36000000
loaded 36100000
loaded 36200000
loaded 36300000
loaded 36400000
loaded 36500000
loaded 36600000
loaded 36700000
loaded 36800000
loaded 36900000
loaded 37000000
loaded 37100000
loaded 37200000
loaded 37300000
loaded 37400000
loaded 37500000
loaded 37600000
loaded 37700000
loaded 37800000
loaded 37900000
loaded 38000000
loaded 38100000
loaded 38200000
loaded 38300000
loaded 38400000
loaded 38500000
loaded 38600000
loaded 38700000
loaded 38800000
loaded 38900000
loaded 39000000
loaded 39100000
loaded 39200000
loaded 39300000
loaded 39400000
loaded 39500000
loaded 39600000
loaded 39700000
loaded 39800000
loaded 39900000
loaded 40000000
loaded 40100000
loaded 40200000
loaded 40300000
loaded 40400000

In [98]:
cs = """C1 integer,
banner_pos integer,
site_id integer,
site_domain integer,
site_category integer,
app_id integer,
app_domain integer,
app_category integer,
device_id integer,
device_ip integer,
device_model integer,
device_type integer,
device_conn_type integer,
C14 integer,
C15 integer,
C16 integer,
C17 integer,
C18 integer,
C19 integer,
C20 integer,
C21 integer"""
cat_dicts = {}
for line in cs.split("\n"):
    cc, i = line.split(" ") 
    uniq_cid = c.execute(f"SELECT DISTINCT {cc} FROM data")
    cat_dicts[cc]={}
    cat_dicts[cc][-1] = 0
    counter = 1
    print("processing", cc,end='')
    for item in uniq_cid:
        if (item != -1):
            cat_dicts[cc][item] = counter
            counter = counter + 1
            if (counter % 5000 == 0):
                print(".",end='')
    print("")

processing C1
processing banner_pos
processing site_id
processing site_domain.
processing site_category
processing app_id.
processing app_domain
processing app_category
processing device_id....................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
processing device_ip.....................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
processing device_model.
processing device_type
processing device_conn_type
processing C14
processing C15
processing C16
processing C17
processing C18
processing C19
processing C20
processing C21

In [99]:
uniq_convert_setup = False
if (not uniq_convert_setup):

        print("resetting cleaned data table...")

        c.execute('''DELETE FROM data_cleaned''')
        conn.commit()

        col_names = ['C1',
                     'banner_pos',
                     'site_id',
                     'site_domain',
                     'site_category',
                     'app_id',
                     'app_domain',
                     'app_category',
                     'device_id',
                     'device_ip',
                     'device_model',
                     'device_type',
                     'device_conn_type',
                     'C14',
                     'C15',
                     'C16',
                     'C17',
                     'C18',
                     'C19',
                     'C20',
                     'C21']
       
      
        off = 0
        batch_size = 1000000
        while (off < 50000000):
            sel_rows = c.execute(f"SELECT * FROM data LIMIT {batch_size} OFFSET {off}")
            buffer = []
            for rr, row in enumerate(sel_rows):
                tmp_row = []
                for ii, item in enumerate(row):
                    if ii < 2: #id, click, hour -- do nothing
                        tmp_row.append(item)
                    elif ii == 2:
                        tmp_row.append(math.log(datetime.datetime.utcfromtimestamp(item).hour + 1))
                    else:
                        if item == -1:
                            tmp_row.append(0)
                        else:
                            tmp_row.append(cat_dicts[col_names[ii-3]][(item,)])

                buffer.append(tmp_row)
               
            print("cleaned " + str(len(buffer)), off)
            if (len(buffer) == 0):
                #break out early if we have overshot
                break
            c.executemany('INSERT INTO data_cleaned VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)', buffer)
            buffer = []
            off = off + batch_size
        
        conn.commit()

resetting cleaned data table...
cleaned 1000000 0
cleaned 1000000 1000000
cleaned 1000000 2000000
cleaned 1000000 3000000
cleaned 1000000 4000000
cleaned 1000000 5000000
cleaned 1000000 6000000
cleaned 1000000 7000000
cleaned 1000000 8000000
cleaned 1000000 9000000
cleaned 1000000 10000000
cleaned 1000000 11000000
cleaned 1000000 12000000
cleaned 1000000 13000000
cleaned 1000000 14000000
cleaned 1000000 15000000
cleaned 1000000 16000000
cleaned 1000000 17000000
cleaned 1000000 18000000
cleaned 1000000 19000000
cleaned 1000000 20000000
cleaned 1000000 21000000
cleaned 1000000 22000000
cleaned 1000000 23000000
cleaned 1000000 24000000
cleaned 1000000 25000000
cleaned 1000000 26000000
cleaned 1000000 27000000
cleaned 1000000 28000000
cleaned 1000000 29000000
cleaned 1000000 30000000
cleaned 1000000 31000000
cleaned 1000000 32000000
cleaned 1000000 33000000
cleaned 1000000 34000000
cleaned 1000000 35000000
cleaned 1000000 36000000
cleaned 1000000 37000000
cleaned 1000000 38000000
cleaned 1000000 39000000
cleaned 400000 40000000
cleaned 0 41000000

In [5]:
#counts = [(m[0],len(m[1].keys())) for m in cat_dicts.items()]
counts_setup = True

if (not counts_setup):
   
    print("resetting col_counts table")
        
    c.execute('''DELETE FROM col_counts''')
    conn.commit()
    
    for col_name, val in counts:
        print(f"set {col_name}:{val}")
        c.execute('''INSERT INTO col_counts VALUES (?,?)''',[col_name,val])
        
    conn.commit()

list(c.execute('''SELECT count FROM col_counts'''))

[(8,),
 (8,),
 (4698,),
 (7672,),
 (27,),
 (8473,),
 (554,),
 (37,),
 (2662436,),
 (6668832,),
 (8186,),
 (6,),
 (5,),
 (2626,),
 (9,),
 (10,),
 (436,),
 (5,),
 (69,),
 (173,),
 (61,)]

In [27]:
conn.commit()
conn.close()

In [49]:
c.execute("SELECT COUNT(*) FROM data_cleaned").fetchone()[0]

40400000

In [52]:
c.execute("SELECT * FROM data_cleaned where rowid = 10200000").fetchone()

(7068516175296651002,
 0,
 1.791759469228055,
 1,
 2,
 35,
 32,
 3,
 1,
 1,
 1,
 1,
 101212,
 48,
 1,
 1,
 953,
 1,
 1,
 207,
 1,
 1,
 23,
 38)

In [117]:

for i in range(24):
    o = o +"?,"
print(o)

cat_dicts[col_names[0]][(1005,)]

?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,

1

In [105]:
len(cat_dicts["device_id"])

2662436

In [63]:
cc = "device_ip"
uniq_cid = c.execute(f"SELECT DISTINCT {cc} FROM data")
m = {}
counter = 1
for item in uniq_cid:
    m[item] = counter
    counter = counter + 1
print(len(m))

6668831

In [76]:
1.000037190421512e+19

1.000037190421512e+19

In [37]:
import datetime
import math

In [44]:
math.log(4 + 1)

1.6094379124341003

In [77]:
c.close()

In [78]:
conn.close()

In [26]:
cc = list(c.execute('''SELECT count FROM col_counts'''))
cc

[(8,),
 (8,),
 (4698,),
 (7672,),
 (27,),
 (8473,),
 (554,),
 (37,),
 (2662436,),
 (6668832,),
 (8186,),
 (6,),
 (5,),
 (2626,),
 (9,),
 (10,),
 (436,),
 (5,),
 (69,),
 (173,),
 (61,)]

In [25]:
#100,1000,10000
log_bins = [0,0,0,0,0,0,0,0]
for v in cc:
    idx = math.ceil(max(math.log10(v[0]) - 2,0))
    log_bins[idx] = log_bins[idx] + 1
    
log_bins

[11, 3, 5, 0, 0, 2, 0, 0]

2